body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background-color: #f0f8ff;
}

nav {
  background-color: #418cd7;
  padding: 15px;
}

nav a {
  color: rgb(52, 20, 20);
  text-decoration: none;
  margin: 15px;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}

.hero {
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(151, 65, 65);
  padding: 120px 20px;
}

section {
  padding: 40px;
}

.progress-box {
  width: 70%;
  background-color: lightgray;
  margin: auto;
  border-radius: 20px;
}

.progress-bar {
  width: 0%;
  height: 25px;
  background-color: green;
  color: white;
  line-height: 25px;
  border-radius: 20px;
}
footer {
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  margin-top: 40px;
}

